<form (ngSubmit)="confirmReset()" #resetForm="ngForm">
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Nouveau mot de passe</mat-label>
    <input
      matInput
      type="password"
      name="newPassword"
      [(ngModel)]="newPassword"
      required
      #newPasswordInput="ngModel"
    />
    <mat-error *ngIf="newPasswordInput.invalid && newPasswordInput.touched">
      Ce champ est requis
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Confirmer le mot de passe</mat-label>
    <input
      matInput
      type="password"
      name="confirmPassword"
      [(ngModel)]="confirmPassword"
      required
      #confirmPasswordInput="ngModel"
    />
    <mat-error
      *ngIf="confirmPasswordInput.invalid && confirmPasswordInput.touched"
    >
      Ce champ est requis
    </mat-error>
    <mat-error
      *ngIf="confirmPassword !== newPassword && confirmPasswordInput.touched"
    >
      Les mots de passe ne correspondent pas
    </mat-error>
  </mat-form-field>

  <div class="actions">
    <button mat-stroked-button color="warn" type="button" (click)="annuler()">
      Annuler
    </button>
    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="resetForm.invalid || newPassword !== confirmPassword"
    >
      Valider
    </button>
  </div>

  <div *ngIf="message" class="success-message">
    {{ message }}
  </div>
  <div *ngIf="error" class="error-message">
    {{ error }}
  </div>
</form>
