<h2 mat-dialog-title>Réinitialiser le mot de passe</h2>

<form [formGroup]="resetForm" (ngSubmit)="onConfirm()" class="form-container">
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Email</mat-label>
    <input
      matInput
      formControlName="email"
      placeholder="Adresse email"
      type="email"
    />
    <mat-error *ngIf="resetForm.get('email')?.hasError('required')"
      >Email requis</mat-error
    >
    <mat-error *ngIf="resetForm.get('email')?.hasError('email')"
      >Email invalide</mat-error
    >
  </mat-form-field>

  <div class="button-row">
    <button mat-stroked-button color="warn" type="button" (click)="onCancel()">
      Annuler
    </button>
    <button
      mat-flat-button
      color="primary"
      type="submit"
      [disabled]="resetForm.invalid || isSubmitting"
    >
      {{ isSubmitting ? "Envoi..." : "OK" }}
    </button>
  </div>
</form>
